body {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    width: 50%;
}

.navbar-logo {
    width: 50%;
    margin: 0;
    padding: 0;
}

@media(min-width: 768px) {
    .navbar-brand {
        width: 30%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .navbar-logo {
        width: 30%;
    }
}

.navbar-light .navbar-toggler{
    border-color: white;
}

.row {
    justify-content: center;
}

.card {
    border-color: #F8F9FA;
    padding: 0;
}

@media (min-width: 320px) {
    .card {
        margin: 0 8px 16px;
    }
}

@media (min-width: 560px) {
    .card {
        margin: 0 8px;
    }
}

@media (min-width: 780px) {
    .card {
        margin: 0 8px;
    }
}

@media (min-width: 1220px) {
    .card {
        margin: 0 8px;
    }
}

.card-title {
    font-size: 24px;
    font-weight: 300;
    color: #212529;
}

.card-text {
    margin: 0;
    color: #707070;
    font-size: 16px;
}

.card-text-address {
    color: #707070;
    margin-left: 2px;
    font-size: 14px;
}

.list-group{
    width: 100%;
    padding: 0 15px;
    border-bottom: #F8F9FA;
}

.list-group-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.normal-price {
    font-size: 14px;
    color: #707070;
    margin-right: 5px;
}

.offer-price {
    font-size: 18px;
    color: #28a745;
    font-weight: 700;
}

.pre-footer {
    width: 100%;
    height: auto;
    padding: 8px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pre-footer-title {
    width: 100%;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.footer {
    color: #212529;
}

.input-group {
    width: 100%;
}

@media (min-width: 768px) {
    .input-group {
        width: 35%;
    }
}

.btn {
    display: flex;
    justify-content: center;
    padding: 5px 50px;
    background: #F8F9FA;
    font-weight: 700;
}

footer p {
    color: #707070;
    font-weight: 300;
}

.footer-logo{
    width: 20%;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .footer-logo {
        width: 10%;
    }
}